html {
  font-family: "IBM Plex Sans", sans-serif;
}

.header {
  background-color: #ddd;
}

.logo {
  width: 200px;
}

.search {
  background-color: #fff;
}

.search input {
  background-color: #fff;
  width: 100%;
}

.relative {
  padding-left: 1rem;
}

table {
  min-width: 45em;
}

.white {
  background-color: #fff;
}

.nearest-wrap {
  background-color: #efefef;
}

.search-icon {
  padding-left: 2rem;
}
